<h1>Drink some <%=@drink.name%></h1>

<%= form_for @drink, url: fridge_drinks_path do |f| %>
  <div class="form-group">
    How much is left: <%= f.text_field :size, class: "form-control", placeholder: "Size" %> oz.
  </div>
    <%= f.submit "Put Drink Back in Fridge", class: "btn btn-block btn-success" %>
  </div>
<% end %>
